body{
    background-color: #EDE8D6;
    font-family: "Raleway", sans-serif;
    color: #000;
font-style: normal;
font-weight: 400;
line-height: normal;
font-size: 14px;
margin: 0;
padding: 0;

}

h1{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    padding-bottom: 20px;
}
h3{
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}





.hero-image img{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

main{
    margin: 0% 15%;
    padding: 20px;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


main section img{
    z-index: -1;
    position: absolute;
    margin: 25px 0;
}


.overskrift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overskrift img{
    z-index: -1;
    position: absolute;
}

.underoverskrift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    font-size: 16px;
}

.content{
    display: flex;
    flex-direction: row;
}
.content section{
    padding: 50px;
}

.halv-halv, .halv-halv-omvendt{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 100px;
    overflow: hidden;
}

.halv-halv section, .halv-halv-omvendt section{
    padding: 50px;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.halv-halv img, .halv-halv-omvendt img{
    width: 50%;
    object-fit: cover;
}

.halv-halv section button, .halv-halv-omvendt section button{
    margin-top: 20px;
}

.halv-halv section h2, .halv-halv-omvendt section h2{
    align-self: flex-start;
    padding: 0;
}


.info{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
}

.linje{
    border-left: 2px solid #000;
    height: 70px;
    margin: 50px 50%
}


.vinanbefalinger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.vinanbefalinger > div{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

.madpar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.madpar img{
    border-radius: 20px;
}

button{
    background-color:  #d89b4a;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "playfair display", serif;
}
button:hover{
    color: white;
}


@media screen and (max-width: 768px) {

main{
    margin: 0% 5%;
    padding: 20px;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content{
    flex-direction: column;
}

.halv-halv{
    flex-direction: column;
}

.halv-halv section, .halv-halv-omvendt section{
    padding: 20px 50px;
    width: auto;
    text-align: left;
}

.halv-halv-omvendt{
    flex-direction: column-reverse;
}

.halv-halv img, .halv-halv-omvendt img{
    width: auto;
}

.vinanbefalinger {
    justify-content: center;

}
}